.form-actions
  = link_to '現在のプラン', my_user_plan_path, class: 'btn btn-primary'
  = link_to 'プラン変更', edit_my_user_plan_path, class: 'btn btn-primary'
  = link_to '無料プランで閲覧できるページ', free_my_user_plan_path, class: 'btn btn-primary'
  = link_to '有料プランで閲覧できるページ', start_my_user_plan_path, class: 'btn btn-primary'
